blog/bpel/security/WSSecurityClient/bpel/WSSecurityClient.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/WSSecurityClient"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="WSSecurityClientProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="WSSecurityClientProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>